.dark-mode {
    background-color: #000000;
    color: #ffffff;

}


.box{
    height: 500px;
    width: 500px;
    border: 1px solid black;


}

.light-mode{
    background-color: #ffffff;
    color: #000000;
}
